#header{
    background: #264653;
}
.color-orange{
    color: orange;
}
.star-color{
    color: rgb(255, 208, 0);
}
#footer{
    background: #000;
}
.copy-text-size{
    font-size: 20px;
}


































